<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PokeDex</title>
<link rel="stylesheet" href="./public/styles.css">
<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/pokemon-fire-red" rel="stylesheet">

</head>
<!-- people usually copy the new into the edit becausee there are only a couplee differrences  -->

<body>
    <h1>New edit page</h1>

    <form action="/pokemon/<%=pokeIndex%>?_method=PUT" method="POST">
        <!-- the index in this line refers to the index craeted in server.js -->
        Name: <input type="text" name="name" value="<%pokeDex.name%>" /> <br>
                <br />
                <input type="submit" value="submit changes">
    </form>

</body>

</html>